@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  src: url("https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2");
  font-family: "Google Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

body {
  background: #fff;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
  color: #202124;
  font-family: "Roboto", sans-serif;
}

.form__div {
  position: relative;
  height: 48px;
  max-width: 100%;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: none;
  padding: 13px 15px;
  height: 54px;
  max-width: 100%;
  background: none;
  z-index: 1;
}

.form__label {
  position: absolute;
  left: 0.82rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #fff;
  max-width: 100%;
  color: #5f6368;
  font-size: var(--normal-font-size);
  transition: 0.3s;
}

.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.6rem;
  color: #1a73e8;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.6rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

.form__input:focus {
  border: 2px solid var(--first-color);
}

.error__input {
  border: 1px solid #d93025 !important;
}

.form__input:focus + .error__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) + .error__label {
  color: #d93025 !important;
}

.error__input:focus {
  border: 2px solid #d93025 !important;
}

.padding-error-render {
  padding-bottom: 3px;
  padding-top: 5px;
}

.padding-none-render {
  padding-bottom: 3px;
  padding-top: 14px;
}

.hover:hover {
  background-color: #eee;
}

@media (max-width: 840px) {
  .modal__popup {
    max-width: 192px !important;
    max-height: 96px !important;
    overflow-y: hidden !important;
  }
  .modal__resp {
    width: 192px !important;
    height: auto !important;
    min-width: 192px !important;
    padding: 8px 0 !important;
  }

  .modal__resp span {
    padding: 0 16px !important;
  }
}

@media (max-width: 600px) {
  .btn__tryagain {
    top: 25% !important;
  }
}

.identify:first-child {
  margin-top: 0;
  padding-top: 0;
}

.input__small {
  width: 200px !important;
  height: 36px !important;
  padding-left: 0.5rem !important;
  font-size: 14px !important;
}

.w-full {
  width: 100% !important;
}

.input__label {
  top: 0.5rem !important;
  font-size: 14px !important;
  left: 0.3rem !important;
}

.input__small:focus + .input__label,
.sm:focus + .input__label {
  top: -0.45rem !important;
  font-size: 11px !important;
  left: 0.3rem !important;
}

.input__small:not(:placeholder-shown).input__small:not(:focus) + .input__label,
.sm:not(:placeholder-shown).sm:not(:focus) + .input__label {
  top: -0.45rem !important;
  left: 0.3rem !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  z-index: 10 !important;
}

.mt-3 {
  margin-top: 0.7rem;
}

.input__span {
  position: absolute;
  right: 10px;
  user-select: none;
  top: 8px;
}

.email__auth {
  padding-right: 100px !important;
}

@media (min-width: 601px) {
  .flex {
    display: flex;
  }
  .width\:50 {
    width: 50%;
  }
}

@media (max-width: 601px) {
  .width\:50 {
    margin-right: 0px !important;
    margin-top: 10px !important;
  }
  .input\:width\:full {
    width: 100% !important;
  }
}

@media (max-width: 360px) {
  .form__responsive__component {
    margin-top: -1rem !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

.ho:hover {
  background-color: #eee;
}

.sm {
  height: 36px !important;
}

.animation__motion {
  color: #202124;
  background: #fff;
  max-width: 256px;
  max-height: 112px;
  border-radius: 2px;
  opacity: 1;
  outline: 1px solid transparent;
  z-index: 2000;
  box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%),
    0 5px 5px -3px rgb(0 0 0 / 20%);
  transition: left 0.2s cubic-bezier(0, 0, 0.2, 1),
    max-width 0.2s cubic-bezier(0, 0, 0.2, 1),
    max-height 0.2s cubic-bezier(0, 0, 0.2, 1), opacity 0.05s linear,
    top 0.2s cubic-bezier(0, 0, 0.2, 1);
  position: fixed;
  margin-top: 10px;
}
