@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  src: url("https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2");
  font-family: "Google Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
  color: #202124;
  font-family: "Roboto", sans-serif;
}
